site_name: Python DSA Documentation
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link 
    - content.code.copy
  language: en
  palette:
    - scheme: slate
      toggle:
        icon: material/toggle-switch-off-outline 
        name: Switch to dark mode
      primary: teal
      accent: purple 
    - scheme: slate 
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode    
      primary: teal
      accent: lime

nav:
  - Home: index.md
  - Python Basics:
    - Sets: python_basics/sets.md
    - Dictionaries: python_basics/dict.md
  - interview:
    - python interview Q&A: interview/python_interview.md
    - ML interview Q&A: interview/ML_interview.md
    - NLP interview Q&A: interview/NLP_interview.md
    - Gen AI interview Q&A: interview/gen_ai_interview.md
    - RAG interview Q&A: interview/Gen_AI_RAG.md
    - Data Manipulation Q&A: interview/Data_manipulation.md

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark

repo_url: https://github.com/Kunaltembhare003/python_DSA
repo_name: Kunaltembhare003/python_DSA